node_modules/
*.log
.DS_Store
__pycache__/
*.pyc
.env
heart-lens-training/__pycache__/
heart-lens-training/mitdb/
HeartLens_Firmware/lib/tensorflow_lite/
*.docx
*.pdf
heart-lens-training/models/*.tflite
heart-lens-training/models/*.keras
*.swp
*.swo
